{
  "openapi": "3.1.0",
  "info": {
    "title": "x402 Singularity Layer API",
    "description": "OpenAPI-backed reference for marketplace discovery, payment routes, webhooks, wallet-first auth, agent endpoints, and ERC-8004 flows.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.x402layer.cc"
    }
  ],
  "tags": [
    {
      "name": "Marketplace",
      "description": "Public discovery and listing lookup"
    },
    {
      "name": "Public Endpoints",
      "description": "Public endpoint metadata and hosted checkout context"
    },
    {
      "name": "Public Payment Links",
      "description": "Hosted public payment-link lookup"
    },
    {
      "name": "Payments",
      "description": "Hosted x402 payment challenge routes"
    },
    {
      "name": "Receipts",
      "description": "Signed receipt lookup and verification helpers"
    },
    {
      "name": "Ratings",
      "description": "Public listing ratings and authenticated rating actions"
    },
    {
      "name": "Webhooks",
      "description": "Seller webhook management API"
    },
    {
      "name": "Agent Auth",
      "description": "Wallet-first challenge and verification routes"
    },
    {
      "name": "Agent Endpoints",
      "description": "Create, read, top up, and delete agent endpoints"
    },
    {
      "name": "ERC-8004",
      "description": "Agent registry and registration lifecycle routes"
    },
    {
      "name": "Marketplace Agents",
      "description": "Public ERC-8004 marketplace discovery routes"
    },
    {
      "name": "Compute Catalog",
      "description": "Compute plans, regions, and OS catalog"
    },
    {
      "name": "Compute Instances",
      "description": "Provision, inspect, extend, and destroy compute instances"
    },
    {
      "name": "Compute API Keys",
      "description": "API keys for compute agent access"
    },
    {
      "name": "Fundraiser Campaigns",
      "description": "List, view, create, and edit fundraiser campaigns"
    },
    {
      "name": "Fundraiser Contributions",
      "description": "Record and list campaign contributions"
    },
    {
      "name": "Fundraiser Comments",
      "description": "Campaign comment threads"
    },
    {
      "name": "Fundraiser Media",
      "description": "Campaign image uploads and OG images"
    },
    {
      "name": "Enterprise",
      "description": "Enterprise partner configuration, endpoint listing, revenue stats, and transaction ledger"
    },
    {
      "name": "Staking",
      "description": "Agentic $SGL staking"
    },
    {
      "name": "SGL Grid",
      "description": "Decentralized, confidential, OpenAI-compatible inference served by attested TEE nodes."
    },
    {
      "name": "Compute Credits",
      "description": "Prepaid USDC credit balance shared across Machines and Grid."
    },
    {
      "name": "Agent Pods",
      "description": "Deploy and manage hosted agents (Agent Pods), plus the pod's OpenAI-compatible adapter for external clients."
    },
    {
      "name": "Agent Pods API",
      "description": "The programmatic `/pods/v1` surface: create, drive and destroy Agent Pods with a single `X-API-Key`. Distinct from the Agent Pods dashboard routes, which expect a wallet signature or a browser session."
    }
  ],
  "paths": {
    "/api/marketplace": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Browse marketplace listings",
        "description": "Lists public endpoints, products, and agentic listings with optional filters.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "endpoint",
                "agentic",
                "product",
                "all"
              ]
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "base",
                "solana"
              ]
            }
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "direct",
                "credits"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marketplace listings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Listing"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/endpoints/{slug}": {
      "get": {
        "tags": [
          "Public Endpoints"
        ],
        "summary": "Get public endpoint payment metadata",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEndpoint"
                }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/endpoints/{slug}/credits": {
      "get": {
        "tags": [
          "Public Endpoints"
        ],
        "summary": "Get public credit packs for an endpoint",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint credit pack information"
          }
        }
      }
    },
    "/api/public/payment-links/{id}": {
      "get": {
        "tags": [
          "Public Payment Links"
        ],
        "summary": "Get public payment link details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link details"
          },
          "404": {
            "description": "Payment link not found"
          }
        }
      }
    },
    "/e/{slug}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Access a paid endpoint or return an x402 challenge",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "purchase"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid endpoint response"
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402Challenge"
                }
              }
            }
          }
        }
      }
    },
    "/p/{slug}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Access a paid product or return an x402 challenge",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid product response"
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402Challenge"
                }
              }
            }
          }
        }
      }
    },
    "/api/receipts/{token}": {
      "get": {
        "tags": [
          "Receipts"
        ],
        "summary": "Resolve a signed payment receipt token",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt details"
          },
          "401": {
            "description": "Invalid receipt token"
          },
          "404": {
            "description": "Receipt not found"
          }
        }
      }
    },
    "/api/ratings": {
      "get": {
        "tags": [
          "Ratings"
        ],
        "summary": "List ratings for an endpoint or product",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ratings list"
          }
        }
      },
      "post": {
        "tags": [
          "Ratings"
        ],
        "summary": "Create or update a rating",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endpoint_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "product_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "review": {
                    "type": "string"
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rating created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Ratings"
        ],
        "summary": "Delete a rating",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rating deleted"
          }
        }
      }
    },
    "/api/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List seller webhooks",
        "responses": {
          "200": {
            "description": "Webhook list"
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create seller webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        }
      }
    },
    "/api/webhooks/{id}": {
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update seller webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete seller webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          }
        }
      }
    },
    "/agent/auth/challenge": {
      "post": {
        "tags": [
          "Agent Auth"
        ],
        "summary": "Request a wallet-auth challenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": {
                    "type": "string"
                  },
                  "walletAddress": {
                    "type": "string"
                  },
                  "action": {
                    "type": "string"
                  }
                },
                "required": [
                  "chain",
                  "walletAddress",
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge payload"
          }
        }
      }
    },
    "/agent/auth/verify": {
      "post": {
        "tags": [
          "Agent Auth"
        ],
        "summary": "Verify a wallet-auth challenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": {
                    "type": "string"
                  },
                  "walletAddress": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  }
                },
                "required": [
                  "chain",
                  "walletAddress",
                  "nonce",
                  "signature"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Short-lived session token"
          }
        }
      }
    },
    "/agent/endpoints": {
      "get": {
        "tags": [
          "Agent Endpoints"
        ],
        "summary": "Get agent endpoint status",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint status"
          }
        }
      },
      "post": {
        "tags": [
          "Agent Endpoints"
        ],
        "summary": "Create agent endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "origin_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "chain": {
                    "type": "string"
                  },
                  "wallet_address": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "api_schema": {
                    "$ref": "#/components/schemas/ApiSchema",
                    "description": "Optional API schema defining routes and parameters. Displayed to consumers on the payment page and in marketplace listings."
                  }
                },
                "required": [
                  "slug",
                  "name",
                  "origin_url",
                  "chain",
                  "wallet_address",
                  "price"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endpoint created"
          },
          "402": {
            "description": "Payment required"
          }
        }
      },
      "put": {
        "tags": [
          "Agent Endpoints"
        ],
        "summary": "Top up an agent endpoint",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint topped up"
          }
        }
      },
      "delete": {
        "tags": [
          "Agent Endpoints"
        ],
        "summary": "Delete an agent endpoint",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint deleted"
          }
        }
      }
    },
    "/agent/erc8004/registry": {
      "get": {
        "tags": [
          "ERC-8004"
        ],
        "summary": "Get ERC-8004 registry information",
        "responses": {
          "200": {
            "description": "Registry info"
          }
        }
      }
    },
    "/agent/erc8004/prepare": {
      "post": {
        "tags": [
          "ERC-8004"
        ],
        "summary": "Prepare ERC-8004 registration",
        "responses": {
          "200": {
            "description": "Prepared registration transaction payload"
          }
        }
      }
    },
    "/agent/erc8004/finalize": {
      "post": {
        "tags": [
          "ERC-8004"
        ],
        "summary": "Finalize ERC-8004 registration",
        "responses": {
          "200": {
            "description": "Finalized registration"
          }
        }
      }
    },
    "/api/marketplace/agents": {
      "get": {
        "tags": [
          "Marketplace Agents"
        ],
        "summary": "List public ERC-8004 marketplace agents",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marketplace agent list"
          }
        }
      }
    },
    "/api/marketplace/agents/{id}": {
      "get": {
        "tags": [
          "Marketplace Agents"
        ],
        "summary": "Get a single public marketplace agent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marketplace agent details"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/compute/plans": {
      "get": {
        "tags": [
          "Compute Catalog"
        ],
        "summary": "List compute plans",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "vps",
                "vhp",
                "vdc",
                "vcg"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compute plans"
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/compute/regions": {
      "get": {
        "tags": [
          "Compute Catalog"
        ],
        "summary": "List compute regions",
        "responses": {
          "200": {
            "description": "Available compute regions"
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/compute/os": {
      "get": {
        "tags": [
          "Compute Catalog"
        ],
        "summary": "List compute operating systems",
        "responses": {
          "200": {
            "description": "Available OS options"
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/compute/provision": {
      "post": {
        "tags": [
          "Compute Instances"
        ],
        "summary": "Provision a compute instance",
        "description": "Returns x402 and MPP 402 payment challenges when no payment credential is supplied, or provisions a Vultr or DigitalOcean instance after x402 or MPP payment settlement.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "os_id": {
                    "type": "integer"
                  },
                  "label": {
                    "type": "string"
                  },
                  "hostname": {
                    "type": "string"
                  },
                  "prepaid_hours": {
                    "type": "integer",
                    "minimum": 24,
                    "description": "Prepaid runtime in hours (minimum 24). Provision uses prepaid_hours; the extend endpoint uses extend_hours."
                  },
                  "use_credits": {
                    "type": "boolean",
                    "description": "Pay from prepaid USD credits instead of an x402 wallet payment. Supported for bare and grid machines. NOT supported for ai_machine (private AI Machines require an x402 wallet payment)."
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "vultr",
                      "digitalocean"
                    ],
                    "description": "Optional provider hint. Plan IDs with do: prefix resolve to DigitalOcean."
                  },
                  "network": {
                    "type": "string",
                    "enum": [
                      "base",
                      "solana",
                      "megaeth",
                      "robinhood"
                    ],
                    "description": "x402 payment network. Robinhood Chain settles in USDG; Base and MegaETH settle in USDC; Solana settles in USDC. MPP clients use Authorization: Payment and do not need this field."
                  },
                  "ssh_public_key": {
                    "type": "string"
                  },
                  "user_data": {
                    "type": "string",
                    "description": "Optional cloud-init user data run at first boot."
                  },
                  "ai_machine": {
                    "type": "object",
                    "description": "Private AI Machine (Standard tier). When present, the machine self-installs the pinned LLM behind your own OpenAI-compatible endpoint (URL + API key), running llama-server (llama.cpp) on port 8080 exposing /v1 (/v1/chat/completions and /v1/models). Supports x402, MPP, or prepaid credits. Mutually exclusive with deploy_node.",
                    "properties": {
                      "model_id": {
                        "type": "string",
                        "description": "The LLM to serve on the instance."
                      },
                      "mode": {
                        "type": "string",
                        "enum": [
                          "private"
                        ],
                        "description": "Must be 'private'."
                      }
                    },
                    "required": [
                      "model_id",
                      "mode"
                    ]
                  },
                  "deploy_node": {
                    "type": "object",
                    "description": "Join the grid. When present, the machine self-installs as a network node owned by the paying wallet, earning USDC + SGL (requires 50,000 SGL staked). Requires an x402 Solana payment. Mutually exclusive with ai_machine.",
                    "properties": {
                      "model_id": {
                        "type": "string",
                        "description": "The LLM the node will serve on the grid."
                      },
                      "tee_type": {
                        "type": "string",
                        "description": "Optional TEE type for the node deploy."
                      }
                    },
                    "required": [
                      "model_id"
                    ]
                  }
                },
                "required": [
                  "plan",
                  "region",
                  "os_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provisioning started"
          },
          "402": {
            "description": "Payment required. x402 clients use the JSON body. MPP clients use the WWW-Authenticate: Payment header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402Challenge"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/compute/api-keys": {
      "get": {
        "tags": [
          "Compute API Keys"
        ],
        "summary": "List compute API keys",
        "responses": {
          "200": {
            "description": "Compute API keys"
          }
        }
      },
      "post": {
        "tags": [
          "Compute API Keys"
        ],
        "summary": "Create compute API key",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created"
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/compute/api-keys/{id}": {
      "delete": {
        "tags": [
          "Compute API Keys"
        ],
        "summary": "Revoke compute API key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked"
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/compute/instances": {
      "get": {
        "tags": [
          "Compute Instances"
        ],
        "summary": "List compute instances",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compute instances"
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/compute/instances/{id}": {
      "get": {
        "tags": [
          "Compute Instances"
        ],
        "summary": "Get compute instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance details"
          }
        }
      },
      "delete": {
        "tags": [
          "Compute Instances"
        ],
        "summary": "Destroy compute instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance destroyed"
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/compute/instances/{id}/password": {
      "post": {
        "tags": [
          "Compute Instances"
        ],
        "summary": "Retrieve one-time instance password",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One-time password access"
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/compute/instances/{id}/extend": {
      "post": {
        "tags": [
          "Compute Instances"
        ],
        "summary": "Extend compute instance expiry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extend_hours": {
                    "type": "integer",
                    "minimum": 24,
                    "description": "Additional prepaid runtime in hours (minimum 24). This endpoint uses extend_hours; provision uses prepaid_hours."
                  },
                  "network": {
                    "type": "string",
                    "enum": [
                      "base",
                      "solana"
                    ],
                    "description": "x402 payment network. MPP clients use Authorization: Payment and do not need this field."
                  }
                },
                "required": [
                  "extend_hours"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Instance extended"
          },
          "402": {
            "description": "Payment required. x402 clients use the JSON body. MPP clients use the WWW-Authenticate: Payment header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402Challenge"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/compute/instances/{id}/resize": {
      "post": {
        "tags": [
          "Compute Instances"
        ],
        "summary": "Resize compute instance in place",
        "description": "Resizes an active instance on its current provider. The route preserves the remaining prepaid dollar credit and recalculates expiry for the target hourly rate.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan": {
                    "type": "string",
                    "description": "Target plan id from GET /compute/plans. DigitalOcean plans use the do: prefix."
                  },
                  "confirm_disk_resize": {
                    "type": "boolean",
                    "description": "Required when the target resize grows disk capacity, especially for DigitalOcean where disk growth is irreversible."
                  }
                },
                "required": [
                  "plan"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resize started"
          },
          "400": {
            "description": "Unsupported resize target or missing confirmation"
          },
          "409": {
            "description": "Instance is not active or already has a resize in progress"
          }
        }
      },
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ]
    },
    "/api/campaigns": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Fundraiser Campaigns"
        ],
        "summary": "List campaigns",
        "description": "Returns all publicly visible fundraiser campaigns with pagination and an agent metadata block for programmatic discovery.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            },
            "description": "Page size"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "medical",
                "emergency",
                "education",
                "community",
                "creative",
                "tech",
                "business",
                "personal",
                "other"
              ]
            },
            "description": "Filter by category"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "funded",
                "launched",
                "expired"
              ]
            },
            "description": "Filter by status"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign list with pagination and agent metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CampaignSummary"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "agent": {
                      "$ref": "#/components/schemas/CampaignListAgentMeta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fundraiser Campaigns"
        ],
        "summary": "Create campaign",
        "description": "Creates a new fundraiser campaign. Requires Supabase authentication.",
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "campaign": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "endpoint_slug": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/api/campaigns/{slug}": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Fundraiser Campaigns"
        ],
        "summary": "Get campaign details",
        "description": "Returns a single campaign with contributions and agent metadata including payment instructions for programmatic contribution.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Campaign slug (e.g. `my-campaign-a1b2c3d4`)"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign detail with contributions and agent payment instructions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign": {
                      "$ref": "#/components/schemas/CampaignDetail"
                    },
                    "contributions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContributionPublic"
                      }
                    },
                    "agent": {
                      "$ref": "#/components/schemas/CampaignDetailAgentMeta"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Fundraiser Campaigns"
        ],
        "summary": "Edit campaign",
        "description": "Edit a campaign you own. Only `title`, `description`, `x_handle`, `images`, and `links` can be modified. Blocked once the campaign is `funded`, `launched`, or `expired`.",
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 3
                  },
                  "description": {
                    "type": "string"
                  },
                  "x_handle": {
                    "type": "string"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "maxItems": 5
                  },
                  "links": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated"
          },
          "400": {
            "description": "Campaign is no longer editable"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Not the campaign owner"
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/api/campaigns/{slug}/contributions": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Fundraiser Contributions"
        ],
        "summary": "List contributions",
        "description": "Returns up to 200 contributions for a campaign, ordered by amount (highest first). No authentication required.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contribution list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contributions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContributionPublic"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      },
      "post": {
        "tags": [
          "Fundraiser Contributions"
        ],
        "summary": "Submit contribution",
        "description": "Record a contribution after a successful x402 payment. The server verifies a signed receipt JWT (from the `X-X402-Receipt-Token` response header) bound to the specific fundraiser endpoint before accepting the contribution. No separate authentication required — the receipt token is the proof of payment.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "receipt_token"
                ],
                "properties": {
                  "receipt_token": {
                    "type": "string",
                    "description": "Signed x402 receipt token from the `X-X402-Receipt-Token` response header after payment"
                  },
                  "display_name": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Public name shown in the supporters list"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contribution recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "contribution": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    },
                    "campaign_status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "funded"
                      ]
                    },
                    "fee_share_eligible": {
                      "type": "boolean",
                      "description": "Whether this contributor is within the first 100 unique wallets"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid receipt, campaign closed, or minimum not met ($2.50)"
          },
          "404": {
            "description": "Campaign not found"
          },
          "409": {
            "description": "Transaction already recorded (duplicate tx_hash)"
          }
        }
      }
    },
    "/api/campaigns/contributions": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Fundraiser Contributions"
        ],
        "summary": "Recent contributions feed",
        "description": "Returns the 20 most recent contributions across all campaigns. Used for the live ticker display.",
        "responses": {
          "200": {
            "description": "Recent contributions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contributions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "who": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "campaign": {
                            "type": "string"
                          },
                          "at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaigns/{slug}/comments": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Fundraiser Comments"
        ],
        "summary": "List comments",
        "description": "Returns up to 100 comments on a campaign, ordered newest first. No authentication required.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment list"
          }
        }
      },
      "post": {
        "tags": [
          "Fundraiser Comments"
        ],
        "summary": "Post comment",
        "description": "Post a comment on a campaign. Requires Supabase authentication.",
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000,
                    "description": "Comment text"
                  },
                  "display_name": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Public display name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment posted"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/api/campaigns/upload": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "post": {
        "tags": [
          "Fundraiser Media"
        ],
        "summary": "Upload campaign image",
        "description": "Upload a campaign image. Requires authentication. Max 1 MB. Allowed types: JPEG, PNG, WebP, GIF. Validated by magic bytes, not just MIME type.",
        "security": [
          {
            "supabaseAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid file type or size"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/api/og/campaign/{slug}": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Fundraiser Media"
        ],
        "summary": "Campaign OG image",
        "description": "Returns a dynamically generated 1200×630 PNG Open Graph image showing campaign status, title, raised amount, progress bar, and backer count. Used for social media previews.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PNG image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/api/v1/enterprise": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Get partner config",
        "description": "Returns your enterprise partner configuration including pricing overrides and revenue split percentages.",
        "security": [
          {
            "enterpriseApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Partner configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "partner": {
                      "$ref": "#/components/schemas/EnterprisePartner"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/enterprise/endpoints": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "List partner endpoints",
        "description": "Returns all endpoints deployed through your enterprise program with pagination.",
        "security": [
          {
            "enterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated endpoint list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnterpriseEndpoint"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/EnterprisePagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/api/v1/enterprise/stats": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Get revenue stats",
        "description": "Returns an aggregated revenue summary for your enterprise program including three-way split totals.",
        "security": [
          {
            "enterpriseApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Revenue statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseStats"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/api/v1/enterprise/transactions": {
      "servers": [
        {
          "url": "https://studio.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "List transactions",
        "description": "Returns the full revenue ledger showing every payment and the three-way split between enterprise partner, Singularity, and infrastructure.",
        "security": [
          {
            "enterpriseApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Results per page"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "endpoint_creation",
                "topup",
                "recharge"
              ]
            },
            "description": "Filter by transaction type"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated transaction ledger",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnterpriseTransaction"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/EnterprisePagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/api/agent": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "API manifest",
        "description": "Self-describing manifest of the whole agentic staking API and the prepare→sign→submit flow. An agent can fetch this to discover every endpoint.",
        "operationId": "getManifest",
        "responses": {
          "200": {
            "description": "Manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StkManifest"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://staking.x402layer.cc"
          }
        ]
      }
    },
    "/api/agent/analytics": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "Global staking analytics",
        "description": "Network-wide stats: total staked, staker count, TVL, and reward-pool totals.",
        "operationId": "getAnalytics",
        "responses": {
          "200": {
            "description": "Analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StkAnalytics"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/StkError"
          }
        },
        "servers": [
          {
            "url": "https://staking.x402layer.cc"
          }
        ]
      }
    },
    "/api/agent/positions": {
      "get": {
        "tags": [
          "Staking"
        ],
        "summary": "A wallet's stake positions",
        "description": "Stake positions for a wallet across all roles: amount, status, cooldowns, and claimable rewards. Public on-chain data.",
        "operationId": "getPositions",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "description": "Solana wallet address (base58).",
            "schema": {
              "type": "string"
            },
            "example": "8d3o8mLHpBA13m2CtuPSCbu1gujwjotzQvz75xGcHH5U"
          }
        ],
        "responses": {
          "200": {
            "description": "Positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StkPositionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/StkError"
          },
          "500": {
            "$ref": "#/components/responses/StkError"
          }
        },
        "servers": [
          {
            "url": "https://staking.x402layer.cc"
          }
        ]
      }
    },
    "/api/agent/stake": {
      "post": {
        "tags": [
          "Staking"
        ],
        "summary": "Prepare a stake transaction",
        "operationId": "prepareStake",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet",
                  "role",
                  "amount"
                ],
                "properties": {
                  "wallet": {
                    "type": "string",
                    "description": "Staker wallet (base58)."
                  },
                  "role": {
                    "$ref": "#/components/schemas/StkStakeRole"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount of $SGL to stake (min 50000).",
                    "example": 50000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StkPrepare"
          },
          "400": {
            "$ref": "#/components/responses/StkError"
          },
          "500": {
            "$ref": "#/components/responses/StkError"
          }
        },
        "servers": [
          {
            "url": "https://staking.x402layer.cc"
          }
        ]
      }
    },
    "/api/agent/unstake": {
      "post": {
        "tags": [
          "Staking"
        ],
        "summary": "Prepare an unstake transaction (begin cooldown)",
        "description": "Begins the cooldown. After it elapses, call /api/agent/claim-unstake to withdraw.",
        "operationId": "prepareUnstake",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet",
                  "role"
                ],
                "properties": {
                  "wallet": {
                    "type": "string"
                  },
                  "role": {
                    "$ref": "#/components/schemas/StkStakeRole"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StkPrepare"
          },
          "400": {
            "$ref": "#/components/responses/StkError"
          },
          "500": {
            "$ref": "#/components/responses/StkError"
          }
        },
        "servers": [
          {
            "url": "https://staking.x402layer.cc"
          }
        ]
      }
    },
    "/api/agent/claim-unstake": {
      "post": {
        "tags": [
          "Staking"
        ],
        "summary": "Prepare a withdraw-after-cooldown transaction",
        "description": "Only succeeds after the cooldown has elapsed (see positions.claimableUnlock).",
        "operationId": "prepareClaimUnstake",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet",
                  "role"
                ],
                "properties": {
                  "wallet": {
                    "type": "string"
                  },
                  "role": {
                    "$ref": "#/components/schemas/StkStakeRole"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StkPrepare"
          },
          "400": {
            "$ref": "#/components/responses/StkError"
          },
          "500": {
            "$ref": "#/components/responses/StkError"
          }
        },
        "servers": [
          {
            "url": "https://staking.x402layer.cc"
          }
        ]
      }
    },
    "/api/agent/claim": {
      "post": {
        "tags": [
          "Staking"
        ],
        "summary": "Prepare claim-rewards transaction(s)",
        "description": "Claims both USDC and $SGL rewards owed. Provide a role for a single position, or omit role to claim every position with rewards (returns multiple transactions).",
        "operationId": "prepareClaim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet"
                ],
                "properties": {
                  "wallet": {
                    "type": "string"
                  },
                  "role": {
                    "$ref": "#/components/schemas/StkStakeRole"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StkPrepare"
          },
          "400": {
            "$ref": "#/components/responses/StkError"
          },
          "500": {
            "$ref": "#/components/responses/StkError"
          }
        },
        "servers": [
          {
            "url": "https://staking.x402layer.cc"
          }
        ]
      }
    },
    "/api/agent/submit": {
      "post": {
        "tags": [
          "Staking"
        ],
        "summary": "Broadcast a signed transaction",
        "description": "Submits a base64 signed Solana transaction (from a prepare endpoint, signed with your keypair), confirms it, and returns the signature.",
        "operationId": "submitTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction"
                ],
                "properties": {
                  "transaction": {
                    "type": "string",
                    "description": "Base64-encoded signed legacy transaction."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StkSubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/StkError"
          },
          "502": {
            "$ref": "#/components/responses/StkError"
          }
        },
        "servers": [
          {
            "url": "https://staking.x402layer.cc"
          }
        ]
      }
    },
    "/v1/models": {
      "servers": [
        {
          "url": "https://grid.x402compute.cc"
        }
      ],
      "get": {
        "tags": [
          "SGL Grid"
        ],
        "summary": "List models",
        "description": "List the models currently served by active attested nodes. OpenAI-compatible shape. Each model includes `context_window` — the maximum prompt + output tokens the grid will accept for it right now (the largest live node's context). A request whose `prompt + max_tokens` exceeds this is rejected with a `400 context_length_exceeded` before any charge, and the router only dispatches a request to a node whose context actually fits it.",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "example": "x402c_..."
            },
            "description": "Compute/Grid API key (billed to prepaid credits). Omit to pay per request via x402 `X-Payment`."
          }
        ],
        "responses": {
          "200": {
            "description": "Models served right now",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "llama-3.2-3b"
                          },
                          "object": {
                            "type": "string",
                            "example": "model"
                          },
                          "owned_by": {
                            "type": "string",
                            "example": "singularity-grid"
                          },
                          "context_window": {
                            "type": "integer",
                            "example": 16384,
                            "description": "Maximum prompt + output tokens accepted for this model right now (the largest live node's context window). Size requests against this; exceeding it returns `400 context_length_exceeded` before any charge."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "servers": [
        {
          "url": "https://grid.x402compute.cc"
        }
      ],
      "post": {
        "tags": [
          "SGL Grid"
        ],
        "summary": "Create chat completion",
        "description": "OpenAI-compatible chat completion. Set `\"stream\": true` for token streaming (SSE; each chunk is end-to-end encrypted). Works with any OpenAI SDK via `base_url=https://grid.x402compute.cc/v1`. Authenticate with `X-API-Key` (prepaid credits) or pay per request with the x402 `X-Payment` header after a `402` challenge.",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "example": "x402c_..."
            },
            "description": "Compute/Grid API key (billed to prepaid credits). Omit to pay per request via x402 `X-Payment`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "llama-3.2-3b"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "description": "Plain text, or an array of content parts for multimodal (vision) models. Send an image as an image_url part with a data URL or https URL. Image input requires a vision model (e.g. qwen2.5-vl-3b) and stream:false.",
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "title": "Text part",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ]
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "title": "Image part",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "image_url"
                                        ]
                                      },
                                      "image_url": {
                                        "type": "object",
                                        "properties": {
                                          "url": {
                                            "type": "string",
                                            "description": "data URL (data:image/png;base64,...) or https URL"
                                          }
                                        },
                                        "required": [
                                          "url"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "image_url"
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    },
                    "example": [
                      {
                        "role": "user",
                        "content": "Hello"
                      }
                    ],
                    "examples": {
                      "text": {
                        "summary": "Text prompt",
                        "value": [
                          {
                            "role": "user",
                            "content": "Hello"
                          }
                        ]
                      },
                      "vision": {
                        "summary": "Image + question (vision model)",
                        "value": [
                          {
                            "role": "user",
                            "content": [
                              {
                                "type": "text",
                                "text": "What is in this image?"
                              },
                              {
                                "type": "image_url",
                                "image_url": {
                                  "url": "data:image/png;base64,iVBORw0KGgo..."
                                }
                              }
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "temperature": {
                    "type": "number",
                    "example": 0.7
                  },
                  "max_tokens": {
                    "type": "integer",
                    "example": 512
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completion (or SSE stream when stream=true)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "example": "chat.completion"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string"
                              }
                            }
                          },
                          "finish_reason": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or revoked API key"
          },
          "402": {
            "description": "Payment required — resend with `X-Payment`, or top up credits in Settings → Credits"
          }
        }
      }
    },
    "/grid/capacity": {
      "servers": [
        {
          "url": "https://grid.x402compute.cc"
        }
      ],
      "get": {
        "tags": [
          "SGL Grid"
        ],
        "summary": "Grid capacity & network stats",
        "description": "Live public network stats — node counts by hardware, lifetime jobs served/submitted, total $SGL staked, per-model availability. No auth, open CORS.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "active_nodes": {
                      "type": "integer",
                      "example": 3
                    },
                    "total_nodes": {
                      "type": "integer",
                      "example": 10
                    },
                    "apple_nodes": {
                      "type": "integer",
                      "example": 3
                    },
                    "intel_nodes": {
                      "type": "integer",
                      "example": 0
                    },
                    "amd_nodes": {
                      "type": "integer",
                      "example": 0
                    },
                    "nvidia_nodes": {
                      "type": "integer",
                      "example": 0
                    },
                    "total_jobs": {
                      "type": "integer",
                      "example": 330,
                      "description": "Completed jobs across currently-active nodes."
                    },
                    "jobs_completed": {
                      "type": "integer",
                      "example": 398,
                      "description": "Lifetime completed (served) jobs — never shrinks."
                    },
                    "jobs_submitted": {
                      "type": "integer",
                      "example": 585,
                      "description": "Lifetime submitted (total) jobs."
                    },
                    "total_sgl_staked": {
                      "type": "number",
                      "example": 1200001
                    },
                    "at_capacity": {
                      "type": "boolean",
                      "example": false
                    },
                    "models": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "model": {
                            "type": "string",
                            "example": "qwen-2.5-14b"
                          },
                          "nodes": {
                            "type": "integer",
                            "example": 2
                          },
                          "busy_nodes": {
                            "type": "integer",
                            "example": 0
                          },
                          "free_slots": {
                            "type": "integer",
                            "example": 2
                          },
                          "at_capacity": {
                            "type": "boolean",
                            "example": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/compute/credits/balance": {
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Compute Credits"
        ],
        "summary": "Get credit balance",
        "description": "Prepaid USDC credit balance for the authenticated wallet. Requires signature auth (`X-Auth-*`) or an API key (`X-API-Key`).",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "example": "x402c_..."
            },
            "description": "Compute/Grid API key (billed to prepaid credits). Omit to pay per request via x402 `X-Payment`."
          }
        ],
        "responses": {
          "200": {
            "description": "Balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "string"
                    },
                    "balance": {
                      "type": "string",
                      "example": "150.00"
                    },
                    "total_deposited": {
                      "type": "string",
                      "example": "200.00"
                    },
                    "total_spent": {
                      "type": "string",
                      "example": "50.00"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/compute/credits/topup": {
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ],
      "post": {
        "tags": [
          "Compute Credits"
        ],
        "summary": "Top up credits",
        "description": "Top up prepaid credits via x402 payment. Returns `402 Payment Required` if no `X-Payment` header is present; resend with the payment payload.",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "example": "x402c_..."
            },
            "description": "Compute/Grid API key (billed to prepaid credits). Omit to pay per request via x402 `X-Payment`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "minimum": 1,
                    "example": 50,
                    "description": "USD to deposit (minimum $1)"
                  },
                  "network": {
                    "type": "string",
                    "enum": [
                      "base",
                      "solana",
                      "megaeth"
                    ],
                    "example": "base"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "402": {
            "description": "Payment required — resend with `X-Payment`"
          },
          "200": {
            "description": "Deposited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deposited": {
                      "type": "number",
                      "example": 50
                    },
                    "new_balance": {
                      "type": "string",
                      "example": "150.00"
                    },
                    "tx_hash": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pods/catalog": {
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Agent Pods"
        ],
        "summary": "Get the Agent Pod catalog",
        "description": "Public, no auth. Returns the deployable agents, AI modes, managed tiers with their model lists, per-model metadata (live price/context/vision + best-for), memory backends, pricing margins, and runtime feature flags (trial, uncensored, memory). Read this before `POST /pods` to pick a valid `agent_id`, `ai_mode`, `tier`, and `model`.",
        "responses": {
          "200": {
            "description": "Catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "openclaw"
                          },
                          "display_name": {
                            "type": "string"
                          },
                          "runtime": {
                            "type": "string",
                            "example": "node"
                          },
                          "pinned_version": {
                            "type": "string"
                          },
                          "min_ram_mb": {
                            "type": "integer"
                          },
                          "supported_channels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "available": {
                            "type": "boolean"
                          },
                          "beta": {
                            "type": "boolean"
                          },
                          "blurb": {
                            "type": "string"
                          },
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "ai_modes": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "managed",
                          "byok"
                        ]
                      }
                    },
                    "coming_soon_channels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "tiers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "starter"
                          },
                          "display_name": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string",
                            "description": "The tier default model slug."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Curated model slugs this tier may switch among at runtime."
                          },
                          "vision": {
                            "type": "boolean"
                          },
                          "min_ram_mb": {
                            "type": "integer"
                          },
                          "blurb": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "model_meta": {
                      "type": "object",
                      "description": "Map of model slug -> metadata (id, name, price_in, price_out, context, vision, best_for, uncensored). Prices are USD per 1M tokens.",
                      "additionalProperties": {
                        "type": "object"
                      }
                    },
                    "memory_backends": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "memory_enabled": {
                      "type": "boolean"
                    },
                    "trial_enabled": {
                      "type": "boolean",
                      "description": "Whether the free 24h trial is currently offered."
                    },
                    "uncensored_enabled": {
                      "type": "boolean"
                    },
                    "pod_margin_usd": {
                      "type": "number"
                    },
                    "pod_byok_margin_pct": {
                      "type": "number",
                      "description": "BYOK service premium as a fraction of the CPU cost (e.g. 0.10 = 10%)."
                    },
                    "pod_managed_margin_pct": {
                      "type": "number",
                      "description": "Managed service fee as a fraction of the machine cost (e.g. 0.20 = 20%)."
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pods": {
      "servers": [
        {
          "url": "https://compute.x402layer.cc"
        }
      ],
      "get": {
        "tags": [
          "Agent Pods"
        ],
        "summary": "List your Agent Pods",
        "description": "Returns every Agent Pod owned by the authenticated wallet. Authenticate with the same compute auth as `/compute/*`: an API key (`X-API-Key: x402c_...`), a session bearer (`Authorization: Bearer sgl_sess.<token>`), or a wallet signature (`X-Auth-Address`, `X-Auth-Chain`, `X-Auth-Signature`, `X-Auth-Nonce`, `X-Auth-Timestamp`).",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "example": "x402c_..."
            },
            "description": "Compute API key. Alternatively use a session bearer or wallet-signature headers."
          }
        ],
        "responses": {
          "200": {
            "description": "Your pods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pods": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PodView"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "post": {
        "tags": [
          "Agent Pods"
        ],
        "summary": "Deploy an Agent Pod",
        "description": "Deploys a hosted agent. The paid deploy rides the audited `/compute/provision` money path, so payment works exactly like provisioning a machine: pay from prepaid credits (`use_credits: true`) or complete an x402/MPP payment (a `402` challenge is returned when no payment credential is supplied). All `/compute/provision` fields (`plan`, `region`, `prepaid_hours`, `network`, `ssh_public_key`, ...) are accepted alongside the pod-specific fields below; `os_id` is ignored (pods always run Ubuntu 24.04). Authenticate with the same compute auth as `/compute/*` (API key, session bearer, or wallet signature).",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "schema": {
[...]
