{
  "openapi": "3.1.0",
  "info": {
    "title": "x402 Singularity Layer API",
    "description": "OpenAPI-backed reference for marketplace discovery, payment routes, webhooks, wallet-first auth, agent endpoints, and ERC-8004 flows.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.x402layer.cc"
    }
  ],
  "tags": [
    { "name": "Marketplace", "description": "Public discovery and listing lookup" },
    { "name": "Public Endpoints", "description": "Public endpoint metadata and hosted checkout context" },
    { "name": "Public Payment Links", "description": "Hosted public payment-link lookup" },
    { "name": "Payments", "description": "Hosted x402 payment challenge routes" },
    { "name": "Receipts", "description": "Signed receipt lookup and verification helpers" },
    { "name": "Ratings", "description": "Public listing ratings and authenticated rating actions" },
    { "name": "Webhooks", "description": "Seller webhook management API" },
    { "name": "Agent Auth", "description": "Wallet-first challenge and verification routes" },
    { "name": "Agent Endpoints", "description": "Create, read, top up, and delete agent endpoints" },
    { "name": "ERC-8004", "description": "Agent registry and registration lifecycle routes" },
    { "name": "Marketplace Agents", "description": "Public ERC-8004 marketplace discovery routes" },
    { "name": "Compute Catalog", "description": "Compute plans, regions, and OS catalog" },
    { "name": "Compute Instances", "description": "Provision, inspect, extend, and destroy compute instances" },
    { "name": "Compute API Keys", "description": "API keys for compute agent access" },
    { "name": "Fundraiser Campaigns", "description": "List, view, create, and edit fundraiser campaigns" },
    { "name": "Fundraiser Contributions", "description": "Record and list campaign contributions" },
    { "name": "Fundraiser Comments", "description": "Campaign comment threads" },
    { "name": "Fundraiser Media", "description": "Campaign image uploads and OG images" }
  ],
  "paths": {
    "/api/marketplace": {
      "get": {
        "tags": ["Marketplace"],
        "summary": "Browse marketplace listings",
        "description": "Lists public endpoints, products, and agentic listings with optional filters.",
        "parameters": [
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["endpoint", "agentic", "product", "all"] } },
          { "name": "chain", "in": "query", "schema": { "type": "string", "enum": ["base", "solana"] } },
          { "name": "mode", "in": "query", "schema": { "type": "string", "enum": ["direct", "credits"] } },
          { "name": "category", "in": "query", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Marketplace listings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listings": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Listing" }
                    },
                    "total": { "type": "integer" },
                    "limit": { "type": "integer" },
                    "offset": { "type": "integer" },
                    "hasMore": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/endpoints/{slug}": {
      "get": {
        "tags": ["Public Endpoints"],
        "summary": "Get public endpoint payment metadata",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PublicEndpoint" }
              }
            }
          },
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/public/endpoints/{slug}/credits": {
      "get": {
        "tags": ["Public Endpoints"],
        "summary": "Get public credit packs for an endpoint",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint credit pack information"
          }
        }
      }
    },
    "/api/public/payment-links/{id}": {
      "get": {
        "tags": ["Public Payment Links"],
        "summary": "Get public payment link details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link details"
          },
          "404": {
            "description": "Payment link not found"
          }
        }
      }
    },
    "/e/{slug}": {
      "get": {
        "tags": ["Payments"],
        "summary": "Access a paid endpoint or return an x402 challenge",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "action",
            "in": "query",
            "schema": { "type": "string", "enum": ["purchase"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid endpoint response"
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/X402Challenge" }
              }
            }
          }
        }
      }
    },
    "/p/{slug}": {
      "get": {
        "tags": ["Payments"],
        "summary": "Access a paid product or return an x402 challenge",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful paid product response"
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/X402Challenge" }
              }
            }
          }
        }
      }
    },
    "/api/receipts/{token}": {
      "get": {
        "tags": ["Receipts"],
        "summary": "Resolve a signed payment receipt token",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt details"
          },
          "401": {
            "description": "Invalid receipt token"
          },
          "404": {
            "description": "Receipt not found"
          }
        }
      }
    },
    "/api/ratings": {
      "get": {
        "tags": ["Ratings"],
        "summary": "List ratings for an endpoint or product",
        "parameters": [
          { "name": "endpoint_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "product_id", "in": "query", "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Ratings list"
          }
        }
      },
      "post": {
        "tags": ["Ratings"],
        "summary": "Create or update a rating",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endpoint_id": { "type": "string", "format": "uuid" },
                  "product_id": { "type": "string", "format": "uuid" },
                  "rating": { "type": "integer", "minimum": 1, "maximum": 5 },
                  "review": { "type": "string" }
                },
                "required": ["rating"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rating created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": ["Ratings"],
        "summary": "Delete a rating",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Rating deleted"
          }
        }
      }
    },
    "/api/webhooks": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "List seller webhooks",
        "responses": {
          "200": {
            "description": "Webhook list"
          }
        }
      },
      "post": {
        "tags": ["Webhooks"],
        "summary": "Create seller webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "format": "uri" },
                  "events": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        }
      }
    },
    "/api/webhooks/{id}": {
      "patch": {
        "tags": ["Webhooks"],
        "summary": "Update seller webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook updated"
          }
        }
      },
      "delete": {
        "tags": ["Webhooks"],
        "summary": "Delete seller webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          }
        }
      }
    },
    "/agent/auth/challenge": {
      "post": {
        "tags": ["Agent Auth"],
        "summary": "Request a wallet-auth challenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": { "type": "string" },
                  "walletAddress": { "type": "string" },
                  "action": { "type": "string" }
                },
                "required": ["chain", "walletAddress", "action"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge payload"
          }
        }
      }
    },
    "/agent/auth/verify": {
      "post": {
        "tags": ["Agent Auth"],
        "summary": "Verify a wallet-auth challenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": { "type": "string" },
                  "walletAddress": { "type": "string" },
                  "nonce": { "type": "string" },
                  "signature": { "type": "string" }
                },
                "required": ["chain", "walletAddress", "nonce", "signature"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Short-lived session token"
          }
        }
      }
    },
    "/agent/endpoints": {
      "get": {
        "tags": ["Agent Endpoints"],
        "summary": "Get agent endpoint status",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint status"
          }
        }
      },
      "post": {
        "tags": ["Agent Endpoints"],
        "summary": "Create agent endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": { "type": "string" },
                  "name": { "type": "string" },
                  "origin_url": { "type": "string", "format": "uri" },
                  "chain": { "type": "string" },
                  "wallet_address": { "type": "string" },
                  "price": { "type": "number" }
                },
                "required": ["slug", "name", "origin_url", "chain", "wallet_address", "price"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endpoint created"
          },
          "402": {
            "description": "Payment required"
          }
        }
      },
      "put": {
        "tags": ["Agent Endpoints"],
        "summary": "Top up an agent endpoint",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint topped up"
          }
        }
      },
      "delete": {
        "tags": ["Agent Endpoints"],
        "summary": "Delete an agent endpoint",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint deleted"
          }
        }
      }
    },
    "/agent/erc8004/registry": {
      "get": {
        "tags": ["ERC-8004"],
        "summary": "Get ERC-8004 registry information",
        "responses": {
          "200": {
            "description": "Registry info"
          }
        }
      }
    },
    "/agent/erc8004/prepare": {
      "post": {
        "tags": ["ERC-8004"],
        "summary": "Prepare ERC-8004 registration",
        "responses": {
          "200": {
            "description": "Prepared registration transaction payload"
          }
        }
      }
    },
    "/agent/erc8004/finalize": {
      "post": {
        "tags": ["ERC-8004"],
        "summary": "Finalize ERC-8004 registration",
        "responses": {
          "200": {
            "description": "Finalized registration"
          }
        }
      }
    },
    "/api/marketplace/agents": {
      "get": {
        "tags": ["Marketplace Agents"],
        "summary": "List public ERC-8004 marketplace agents",
        "parameters": [
          { "name": "network", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Marketplace agent list"
          }
        }
      }
    },
    "/api/marketplace/agents/{id}": {
      "get": {
        "tags": ["Marketplace Agents"],
        "summary": "Get a single public marketplace agent",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "schema": { "type": "string" } },
          { "name": "contract", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Marketplace agent details"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/compute/plans": {
      "get": {
        "tags": ["Compute Catalog"],
        "summary": "List compute plans",
        "parameters": [
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["vps", "vhp", "vdc", "vcg"] } }
        ],
        "responses": {
          "200": {
            "description": "Compute plans"
          }
        }
      }
    },
    "/compute/regions": {
      "get": {
        "tags": ["Compute Catalog"],
        "summary": "List compute regions",
        "responses": {
          "200": {
            "description": "Available compute regions"
          }
        }
      }
    },
    "/compute/os": {
      "get": {
        "tags": ["Compute Catalog"],
        "summary": "List compute operating systems",
        "responses": {
          "200": {
            "description": "Available OS options"
          }
        }
      }
    },
    "/compute/provision": {
      "post": {
        "tags": ["Compute Instances"],
        "summary": "Provision a compute instance",
        "description": "Returns x402 and MPP 402 payment challenges when no payment credential is supplied, or provisions a Vultr or DigitalOcean instance after x402 or MPP payment settlement.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan": { "type": "string" },
                  "region": { "type": "string" },
                  "os_id": { "type": "integer" },
                  "label": { "type": "string" },
                  "hostname": { "type": "string" },
                  "prepaid_hours": { "type": "integer" },
                  "provider": { "type": "string", "enum": ["vultr", "digitalocean"], "description": "Optional provider hint. Plan IDs with do: prefix resolve to DigitalOcean." },
                  "network": { "type": "string", "enum": ["base", "solana"], "description": "x402 payment network. MPP clients use Authorization: Payment and do not need this field." },
                  "ssh_public_key": { "type": "string" }
                },
                "required": ["plan", "region", "os_id"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provisioning started"
          },
          "402": {
            "description": "Payment required. x402 clients use the JSON body. MPP clients use the WWW-Authenticate: Payment header.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/X402Challenge" }
              }
            }
          }
        }
      }
    },
    "/compute/api-keys": {
      "get": {
        "tags": ["Compute API Keys"],
        "summary": "List compute API keys",
        "responses": {
          "200": {
            "description": "Compute API keys"
          }
        }
      },
      "post": {
        "tags": ["Compute API Keys"],
        "summary": "Create compute API key",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created"
          }
        }
      }
    },
    "/compute/api-keys/{id}": {
      "delete": {
        "tags": ["Compute API Keys"],
        "summary": "Revoke compute API key",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "API key revoked"
          }
        }
      }
    },
    "/compute/instances": {
      "get": {
        "tags": ["Compute Instances"],
        "summary": "List compute instances",
        "parameters": [
          { "name": "wallet", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Compute instances"
          }
        }
      }
    },
    "/compute/instances/{id}": {
      "get": {
        "tags": ["Compute Instances"],
        "summary": "Get compute instance",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Instance details"
          }
        }
      },
      "delete": {
        "tags": ["Compute Instances"],
        "summary": "Destroy compute instance",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Instance destroyed"
          }
        }
      }
    },
    "/compute/instances/{id}/password": {
      "post": {
        "tags": ["Compute Instances"],
        "summary": "Retrieve one-time instance password",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "One-time password access"
          }
        }
      }
    },
    "/compute/instances/{id}/extend": {
      "post": {
        "tags": ["Compute Instances"],
        "summary": "Extend compute instance expiry",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extend_hours": { "type": "integer" },
                  "network": { "type": "string", "enum": ["base", "solana"], "description": "x402 payment network. MPP clients use Authorization: Payment and do not need this field." }
                },
                "required": ["extend_hours"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Instance extended"
          },
          "402": {
            "description": "Payment required. x402 clients use the JSON body. MPP clients use the WWW-Authenticate: Payment header.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/X402Challenge" }
              }
            }
          }
        }
      }
    },
    "/api/campaigns": {
      "servers": [{ "url": "https://studio.x402layer.cc" }],
      "get": {
        "tags": ["Fundraiser Campaigns"],
        "summary": "List campaigns",
        "description": "Returns all publicly visible fundraiser campaigns with pagination and an agent metadata block for programmatic discovery.",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 200 }, "description": "Page size" },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 }, "description": "Pagination offset" },
          { "name": "category", "in": "query", "schema": { "type": "string", "enum": ["medical", "emergency", "education", "community", "creative", "tech", "business", "personal", "other"] }, "description": "Filter by category" },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["active", "funded", "launched", "expired"] }, "description": "Filter by status" }
        ],
        "responses": {
          "200": {
            "description": "Campaign list with pagination and agent metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": { "type": "array", "items": { "$ref": "#/components/schemas/CampaignSummary" } },
                    "pagination": { "$ref": "#/components/schemas/Pagination" },
                    "agent": { "$ref": "#/components/schemas/CampaignListAgentMeta" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Fundraiser Campaigns"],
        "summary": "Create campaign",
        "description": "Creates a new fundraiser campaign. Requires Supabase authentication.",
        "security": [{ "supabaseAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCampaignRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "campaign": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "slug": { "type": "string" },
                        "title": { "type": "string" },
                        "url": { "type": "string", "format": "uri" },
                        "endpoint_slug": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Validation error" },
          "401": { "description": "Not authenticated" }
        }
      }
    },
    "/api/campaigns/{slug}": {
      "servers": [{ "url": "https://studio.x402layer.cc" }],
      "get": {
        "tags": ["Fundraiser Campaigns"],
        "summary": "Get campaign details",
        "description": "Returns a single campaign with contributions and agent metadata including payment instructions for programmatic contribution.",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Campaign slug (e.g. `my-campaign-a1b2c3d4`)" }
        ],
        "responses": {
          "200": {
            "description": "Campaign detail with contributions and agent payment instructions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign": { "$ref": "#/components/schemas/CampaignDetail" },
                    "contributions": { "type": "array", "items": { "$ref": "#/components/schemas/ContributionPublic" } },
                    "agent": { "$ref": "#/components/schemas/CampaignDetailAgentMeta" }
                  }
                }
              }
            }
          },
          "404": { "description": "Campaign not found" }
        }
      },
      "patch": {
        "tags": ["Fundraiser Campaigns"],
        "summary": "Edit campaign",
        "description": "Edit a campaign you own. Only `title`, `description`, `x_handle`, `images`, and `links` can be modified. Blocked once the campaign is `funded`, `launched`, or `expired`.",
        "security": [{ "supabaseAuth": [] }],
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string", "minLength": 3 },
                  "description": { "type": "string" },
                  "x_handle": { "type": "string" },
                  "images": { "type": "array", "items": { "type": "string", "format": "uri" }, "maxItems": 5 },
                  "links": { "type": "array", "items": { "type": "object" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Campaign updated" },
          "400": { "description": "Campaign is no longer editable" },
          "401": { "description": "Not authenticated" },
          "403": { "description": "Not the campaign owner" },
          "404": { "description": "Campaign not found" }
        }
      }
    },
    "/api/campaigns/{slug}/contributions": {
      "servers": [{ "url": "https://studio.x402layer.cc" }],
      "get": {
        "tags": ["Fundraiser Contributions"],
        "summary": "List contributions",
        "description": "Returns up to 200 contributions for a campaign, ordered by amount (highest first). No authentication required.",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Contribution list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contributions": { "type": "array", "items": { "$ref": "#/components/schemas/ContributionPublic" } }
                  }
                }
              }
            }
          },
          "404": { "description": "Campaign not found" }
        }
      },
      "post": {
        "tags": ["Fundraiser Contributions"],
        "summary": "Submit contribution",
        "description": "Record a contribution after a successful x402 payment. The server verifies a signed receipt JWT (from the `X-X402-Receipt-Token` response header) bound to the specific fundraiser endpoint before accepting the contribution. No separate authentication required — the receipt token is the proof of payment.",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["receipt_token"],
                "properties": {
                  "receipt_token": { "type": "string", "description": "Signed x402 receipt token from the `X-X402-Receipt-Token` response header after payment" },
                  "display_name": { "type": "string", "maxLength": 50, "description": "Public name shown in the supporters list" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contribution recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "contribution": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" }
                      }
                    },
                    "campaign_status": { "type": "string", "enum": ["active", "funded"] },
                    "fee_share_eligible": { "type": "boolean", "description": "Whether this contributor is within the first 100 unique wallets" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid receipt, campaign closed, or minimum not met ($2.50)" },
          "404": { "description": "Campaign not found" },
          "409": { "description": "Transaction already recorded (duplicate tx_hash)" }
        }
      }
    },
    "/api/campaigns/contributions": {
      "servers": [{ "url": "https://studio.x402layer.cc" }],
      "get": {
        "tags": ["Fundraiser Contributions"],
        "summary": "Recent contributions feed",
        "description": "Returns the 20 most recent contributions across all campaigns. Used for the live ticker display.",
        "responses": {
          "200": {
            "description": "Recent contributions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contributions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "who": { "type": "string" },
                          "amount": { "type": "number" },
                          "campaign": { "type": "string" },
                          "at": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaigns/{slug}/comments": {
      "servers": [{ "url": "https://studio.x402layer.cc" }],
      "get": {
        "tags": ["Fundraiser Comments"],
        "summary": "List comments",
        "description": "Returns up to 100 comments on a campaign, ordered newest first. No authentication required.",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Comment list" }
        }
      },
      "post": {
        "tags": ["Fundraiser Comments"],
        "summary": "Post comment",
        "description": "Post a comment on a campaign. Requires Supabase authentication.",
        "security": [{ "supabaseAuth": [] }],
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["body"],
                "properties": {
                  "body": { "type": "string", "minLength": 1, "maxLength": 2000, "description": "Comment text" },
                  "display_name": { "type": "string", "maxLength": 50, "description": "Public display name" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Comment posted" },
          "401": { "description": "Not authenticated" }
        }
      }
    },
    "/api/campaigns/upload": {
      "servers": [{ "url": "https://studio.x402layer.cc" }],
      "post": {
        "tags": ["Fundraiser Media"],
        "summary": "Upload campaign image",
        "description": "Upload a campaign image. Requires authentication. Max 1 MB. Allowed types: JPEG, PNG, WebP, GIF. Validated by magic bytes, not just MIME type.",
        "security": [{ "supabaseAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string", "format": "uri" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid file type or size" },
          "401": { "description": "Not authenticated" }
        }
      }
    },
    "/api/og/campaign/{slug}": {
      "servers": [{ "url": "https://studio.x402layer.cc" }],
      "get": {
        "tags": ["Fundraiser Media"],
        "summary": "Campaign OG image",
        "description": "Returns a dynamically generated 1200×630 PNG Open Graph image showing campaign status, title, raised amount, progress bar, and backer count. Used for social media previews.",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "PNG image",
            "content": {
              "image/png": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "404": { "description": "Campaign not found" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Listing": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "type": { "type": "string" },
          "mode": { "type": "string" },
          "price": { "type": "number" },
          "currency": { "type": "string" },
          "chain": { "type": "string" }
        }
      },
      "PublicEndpoint": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "mode": { "type": "string" },
          "price": { "type": "number" },
          "currency": { "type": "string" },
          "wallet_address": { "type": "string" },
          "chain": { "type": "string" }
        }
      },
      "X402Challenge": {
        "type": "object",
        "properties": {
          "x402Version": { "type": "integer" },
          "accepts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "scheme": { "type": "string" },
                "network": { "type": "string" },
                "maxAmountRequired": { "type": "string" },
                "resource": { "type": "string" },
                "description": { "type": "string" },
                "payTo": { "type": "string" },
                "asset": { "type": "string" }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      },
      "CampaignSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "slug": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "images": { "type": "array", "items": { "type": "string", "format": "uri" } },
          "target_amount": { "type": "number" },
          "raised_amount": { "type": "number" },
          "token_ticker": { "type": "string" },
          "fee_option": { "type": "string", "enum": ["supporters", "creator", "split"] },
          "status": { "type": "string", "enum": ["active", "funded", "launched", "expired"] },
          "chain": { "type": "string", "example": "solana" },
          "deadline": { "type": "string", "format": "date-time" },
          "contributor_count": { "type": "integer" },
          "category": { "type": "string" },
          "subcategory": { "type": "string" },
          "page_url": { "type": "string", "format": "uri" },
          "api_url": { "type": "string", "format": "uri" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CampaignDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "slug": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "images": { "type": "array", "items": { "type": "string", "format": "uri" } },
          "target_amount": { "type": "number" },
          "raised_amount": { "type": "number" },
          "token_ticker": { "type": "string" },
          "fee_option": { "type": "string", "enum": ["supporters", "creator", "split"] },
          "fee_split_pct": { "type": "number" },
          "status": { "type": "string" },
          "chain": { "type": "string" },
          "wallet_address": { "type": "string", "description": "Campaign escrow wallet" },
          "deadline": { "type": "string", "format": "date-time" },
          "contributor_count": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ContributionPublic": {
        "type": "object",
        "properties": {
          "wallet_address": { "type": "string" },
          "display_name": { "type": "string" },
          "amount": { "type": "number" },
          "chain": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "has_more": { "type": "boolean" }
        }
      },
      "CampaignListAgentMeta": {
        "type": "object",
        "description": "Agent metadata for programmatic campaign discovery",
        "properties": {
          "description": { "type": "string" },
          "protocol": { "type": "string", "example": "x402" },
          "currency": { "type": "string", "example": "USDC" },
          "list_url": { "type": "string", "format": "uri" },
          "detail_url_pattern": { "type": "string", "example": "https://studio.x402layer.cc/api/campaigns/{slug}" },
          "campaign_page_pattern": { "type": "string", "example": "https://studio.x402layer.cc/fundraisers/{slug}" },
          "supports_pagination": { "type": "boolean" },
          "supports_category_filter": { "type": "boolean" },
          "active_count": { "type": "integer" }
        }
      },
      "CampaignDetailAgentMeta": {
        "type": "object",
        "description": "Agent metadata with payment instructions for programmatic contribution",
        "properties": {
          "payment_endpoint": { "type": "string", "format": "uri", "description": "x402-compatible payment URL. Send USDC here." },
          "accepts": { "type": "array", "items": { "type": "string" }, "example": ["solana"] },
          "currency": { "type": "string", "example": "USDC" },
          "protocol": { "type": "string", "example": "x402" },
          "min_amount": { "type": "number" },
          "status": { "type": "string" },
          "target_amount": { "type": "number" },
          "raised_amount": { "type": "number" },
          "remaining": { "type": "number", "description": "USDC still needed to reach the target" },
          "fee_share_eligible": { "type": "boolean", "description": "Whether new contributors can still earn fee-sharing" },
          "fee_share_slots_remaining": { "type": "integer", "description": "How many of the 100 fee-share slots are still open" },
          "campaign_url": { "type": "string", "format": "uri" },
          "campaign_api_url": { "type": "string", "format": "uri" },
          "contribute_api": { "type": "string", "format": "uri", "description": "POST endpoint to register the contribution after payment" },
          "contribute_api_auth": { "type": "string", "example": "none" },
          "receipt_header": { "type": "string", "example": "X-X402-Receipt-Token", "description": "Response header containing the signed receipt token after payment" },
          "instructions": { "type": "string", "description": "Human-readable instructions for making a contribution" }
        }
      },
      "CreateCampaignRequest": {
        "type": "object",
        "required": ["title", "wallet_address", "target_amount"],
        "properties": {
          "title": { "type": "string", "minLength": 3 },
          "description": { "type": "string" },
          "wallet_address": { "type": "string", "description": "Creator's Solana wallet for payouts" },
          "target_amount": { "type": "number", "minimum": 1000, "description": "Funding target in USDC" },
          "token_ticker": { "type": "string", "pattern": "^[A-Z0-9]{2,10}$", "description": "2–10 uppercase alphanumeric characters" },
          "fee_option": { "type": "string", "enum": ["supporters", "creator", "split"], "default": "supporters" },
          "fee_split_pct": { "type": "number", "minimum": 0, "maximum": 100, "description": "Creator's percentage when using split" },
          "images": { "type": "array", "items": { "type": "string", "format": "uri" }, "maxItems": 5, "description": "First image = token logo" },
          "x_handle": { "type": "string", "description": "X/Twitter handle without @" },
          "deadline": { "type": "string", "format": "date-time" },
          "category": { "type": "string", "enum": ["medical", "emergency", "education", "community", "creative", "tech", "business", "personal", "other"] },
          "bags_config_type": { "type": "string", "format": "uuid", "description": "Fee tier UUID" }
        }
      }
    },
    "securitySchemes": {
      "supabaseAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Supabase session JWT"
      }
    }
  }
}
